# Entornos virtuales
.venv/
venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos y variables
.env
.env.*

# Archivos de VSCode
.vscode/

# Archivos temporales
*.log
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db
